In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/supershops.csv.csv')

In [4]:
df.head(10)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94
5        131876.90        99814.71  362861.36    Dhaka  156991.12
6        134615.46       147198.87  127716.82      Ctg  156122.51
7        130298.13       145530.06  323876.68  Rangpur  155752.60
8        120542.52       148718.95  311613.29    Dhaka  152211.77
9        123334.88       108679.17  304981.62      Ctg  149759.96

In [5]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [6]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

Normalization

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mix = MinMaxScaler()

In [9]:
mix

MinMaxScaler()

In [10]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [13]:
df1['Marketing Spend'] = mix.fit_transform(df1[['Marketing Spend']])

In [14]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [15]:
df1['Administration'] = mix.fit_transform(df1[['Administration']])

In [16]:
df1

    Marketing Spend  Administration  Transport     Area     Profit
0          0.692617        0.651744  471784.10    Dhaka  192261.83
1          0.983359        0.761972  443898.53      Ctg  191792.06
2          0.927985        0.379579  407934.54  Rangpur  191050.39
3          0.873136        0.512998  383199.62    Dhaka  182901.99
4          0.859438        0.305328  366168.42  Rangpur  166187.94
5          0.797566        0.369448  362861.36    Dhaka  156991.12
6          0.814128        0.730161  127716.82      Ctg  156122.51
7          0.788018        0.717457  323876.68  Rangpur  155752.60
8          0.729018        0.741733  311613.29    Dhaka  152211.77
9          0.745906        0.436929  304981.62      Ctg  149759.96
10         0.616351        0.451506  229160.95  Rangpur  146121.95
11         0.608845        0.308364  249744.55      Ctg  144259.40
12         0.567670        0.578836  249839.44  Rangpur  141585.52
13         0.556352        0.641066  252664.93      Ctg  134307.35
14         0.725394        0.801327  256512.92  Rangpur  132602.65
15         1.000000        0.543030  261776.23    Dhaka  129917.04
16         0.471808        0.535270  264346.06      Ctg  126992.93
17         0.572468        0.714013  282574.31    Dhaka  125370.37
18         0.554881        0.478772  294919.57  Rangpur  124266.90
19         0.522650        0.778236        NaN    Dhaka  122776.86
20         0.461169        0.476424  298664.47      Ctg  118474.03
21         0.474084        0.780210  299737.29    Dhaka  111313.02
22         0.447505        0.544293  303319.26  Rangpur  110352.25
23         0.408424        0.414638  304768.73  Rangpur  108733.99
24         0.465947        0.365388  140574.81    Dhaka  108552.04
25         0.391080        0.671958  137962.62      Ctg  107404.34
26         0.455574        0.706845  134050.07  Rangpur  105733.54
27         0.436093        0.582978  353183.81    Dhaka  105008.31
28         0.399467        1.000000  118148.20  Rangpur  103282.38
29         0.396769        0.774566  107138.38    Dhaka  101004.64
30         0.374931        0.489928   91131.24  Rangpur   99937.59
31         0.369741        0.772053   88218.23    Dhaka   97483.56
32         0.383485        0.593294   46085.25      Ctg   97427.84
33         0.335617        0.394134  214634.81  Rangpur   96778.92
34         0.280776        0.810055  210797.67      Ctg   96712.80
35         0.278284        0.257032  205517.64    Dhaka   96479.51
36         0.173353        0.576825  201126.82  Rangpur   90708.19
37         0.266527        0.000000  197029.42      Ctg   89949.14
38         0.122345        0.111636  185265.10    Dhaka   81229.06
39         0.233194        0.241309  174999.30      Ctg   81005.76
40         0.173901        0.512041  172795.67      Ctg   78239.91
41         0.168691        0.254469  164470.71  Rangpur   77798.83
42         0.142976        0.341852  148001.11      Ctg   71498.49
43         0.093776        0.579307   35534.17    Dhaka   69758.98
44         0.134127        0.788072   28334.72      Ctg   65200.33
45         0.006049        0.554724    1903.93    Dhaka   64926.08
46         0.007956        0.491260  297114.46  Rangpur   49490.75
47         0.000000        0.640547       0.00      Ctg   42559.73
48         0.003278        0.003502       0.00    Dhaka   35673.41
49         0.000000        0.500148   45173.06      Ctg   14681.40

In [17]:
df1['Transport'] = mix.fit_transform(df1[['Transport']])

In [18]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [19]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

Standardization

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sd = StandardScaler()

In [22]:
sd

StandardScaler()

In [23]:
df2['Marketing Spend'] = sd.fit_transform(df2[['Marketing Spend']])

In [24]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913       136897.80  471784.10    Dhaka  192261.83
1         1.955860       151377.59  443898.53      Ctg  191792.06
2         1.754364       101145.55  407934.54  Rangpur  191050.39
3         1.554784       118671.85  383199.62    Dhaka  182901.99
4         1.504937        91391.77  366168.42  Rangpur  166187.94

In [25]:
df2['Administration'] = sd.fit_transform(df2[['Administration']])

In [27]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753  471784.10    Dhaka  192261.83
1         1.955860        1.082807  443898.53      Ctg  191792.06
2         1.754364       -0.728257  407934.54  Rangpur  191050.39
3         1.554784       -0.096365  383199.62    Dhaka  182901.99
4         1.504937       -1.079919  366168.42  Rangpur  166187.94

In [28]:
df2['Transport'] = sd.fit_transform(df2[['Transport']])

In [30]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

RobustScaler import here

In [31]:
from sklearn.preprocessing import RobustScaler

In [32]:
rb = RobustScaler()

In [34]:
df3['Marketing Spend'] = rb.fit_transform(df3[['Marketing Spend']])

In [35]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80  471784.10    Dhaka  192261.83
1         1.452113       151377.59  443898.53      Ctg  191792.06
2         1.303634       101145.55  407934.54  Rangpur  191050.39
3         1.156567       118671.85  383199.62    Dhaka  182901.99
4         1.119836        91391.77  366168.42  Rangpur  166187.94

In [36]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [38]:
df3['Administration'] = rb.fit_transform(df3[['Administration']])

In [39]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355  471784.10    Dhaka  192261.83
1         1.452113        0.697565  443898.53      Ctg  191792.06
2         1.303634       -0.524290  407934.54  Rangpur  191050.39
3         1.156567       -0.097977  383199.62    Dhaka  182901.99
4         1.119836       -0.761543  366168.42  Rangpur  166187.94

In [40]:
df3['Transport'] = rb.fit_transform(df3[['Transport']])

In [41]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

Max absolute Scaler

In [42]:
from sklearn.preprocessing import MaxAbsScaler

In [43]:
ma = MaxAbsScaler()

In [44]:
df4['Marketing Spend'] = ma.fit_transform(df4[['Marketing Spend']])

In [45]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [46]:
df4['Administration'] = ma.fit_transform(df4[['Administration']])

In [47]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527  471784.10    Dhaka  192261.83
1         0.983359        0.828805  443898.53      Ctg  191792.06
2         0.927985        0.553781  407934.54  Rangpur  191050.39
3         0.873136        0.649738  383199.62    Dhaka  182901.99
4         0.859438        0.500378  366168.42  Rangpur  166187.94

In [48]:
df4['Transport'] = ma.fit_transform(df4[['Transport']])

In [49]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

In [50]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94